<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mappers.board">

	<!-- 게시글 목록 -->
	<select id="list" resultType="com.study.board.domain.BoardVO">		<!-- resultType : 쿼리의 결과의 형태 -->
		SELECT 
			bno, title, content, writer, regDate, viewCnt
		FROM tbl_board
	</select>

	<!-- 게시글 작성 -->
	<insert id="write" parameterType="com.study.board.domain.BoardVO">		<!-- 데이터를 넣을 때  parameterType 사용 -->
		INSERT INTO 
		tbl_board(title, content, writer) 
			VALUES(#{title}, #{content}, #{writer})
	</insert>
	
	<!-- 게시글 상세조회 -->
	<select id="view" parameterType="int" resultType="com.study.board.domain.BoardVO">	<!-- parameterType 은 매퍼에 들어오는 데이터, resultType 은 매퍼가 내보내는 데이터 -->
		SELECT 
			bno, title, content, writer, regDate, viewCnt
		FROM 
			tbl_board
		WHERE
			bno = #{bno}
	</select>
	
	<!-- 게시글 수정 -->
	<update id="modify" parameterType="com.study.board.domain.BoardVO">
		UPDATE tbl_board
			SET 
				title = #{title},
				content = #{content},
				writer = #{writer}
			WHERE bno = #{bno}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE
			FROM tbl_board
		WHERE bno = #{bno}
	</delete>
	
	<!-- 게시글 총 갯수 -->
	<select id="count" resultType="int">
		SELECT COUNT(bno) FROM tbl_board
	</select>
	
	<!-- 게시글 목록 + 페이징 -->
	<select id="listPage" parameterType="hashMap" resultType="com.study.board.domain.BoardVO">
		SELECT 
			bno, title, writer, regDate, viewCnt
		FROM tbl_board
		ORDER BY bno DESC
		LIMIT #{displayPost}, #{postNum}
	</select>
	
	<!-- 게시글 목록 + 페이징 + 검색 -->
	<select id="listPageSearch" parameterType="hashMap" resultType="com.study.board.domain.BoardVO">
		SELECT 
			bno, title, writer, regDate, viewCnt
		FROM tbl_board
		
		<if test="searchType.equals('title')">
			WHERE title LIKE CONCAT('%', #{keyword} ,'%')
		</if>
		<if test="searchType.equals('content')">
			WHERE content LIKE CONCAT('%', #{keyword} ,'%')
		</if>
		<if test="searchType.equals('title_content')">
			WHERE title LIKE CONCAT('%', #{keyword} ,'%')
				OR content LIKE CONCAT('%', #{keyword} ,'%')
		</if>
		<if test="searchType.equals('writer')">
			WHERE writer LIKE CONCAT('%', #{keyword} ,'%')
		</if>
		
		ORDER BY bno DESC
		LIMIT #{displayPost}, #{postNum}
	</select>
	
	<!-- 게시글 총 갯수 + 검색 -->
	<select id="searchCount" parameterType="hashMap" resultType="int">	<!-- searchType 과 keyword 를 받아야하므로 parameterType 를 추가 -->
		SELECT COUNT(bno) FROM tbl_board
		
		<if test="searchType.equals('title')">
			WHERE title LIKE CONCAT('%', #{keyword} ,'%')
		</if>
		<if test="searchType.equals('content')">
			WHERE content LIKE CONCAT('%', #{keyword} ,'%')
		</if>
		<if test="searchType.equals('title_content')">
			WHERE title LIKE CONCAT('%', #{keyword} ,'%')
				OR content LIKE CONCAT('%', #{keyword} ,'%')
		</if>
		<if test="searchType.equals('writer')">
			WHERE writer LIKE CONCAT('%', #{keyword} ,'%')
		</if>
	</select>

</mapper>